input[type="checkbox"],
input[type="range"] {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    opacity: 0;
}

.relative {
    position: relative;
}

.ui-button {
    display: flex;
    width: 100%;
    padding: 8px 8px;
    border: none;
    background: none;
    cursor: pointer;
}

.ui-list {
    display: flex;
    flex-direction: column;
    max-height: 300px;
    gap: 2px;
    border-radius: 8px;
    overflow: auto;
}

.ui-list li {
    display: flex;
    align-items: center;
    border-radius: 8px;
    transition: all 0.3s;
    font-size: 14px;
}

.ui-list li:hover {
    background-color: #eee;
}
